header {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  overflow: hidden;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li {
  margin-right: 1rem;
}
nav ul li a {
  text-decoration: none;
  color: #333;
}
section {
  height: 100vh;
  background-color: aquamarine;
}
